<div class="pokemon-container">
  <header>
    <h1>{{pokemon.name}}</h1>
  </header>

  <section class="pokemon">
    <div class="pokemon-img">
      <img src="{{pokemon.img}}" alt="{{pokemon.name}} image">
    </div>

    <div class="pokemon-details">
      <p>Number: {{pokemon.number}}</p>
      <p>Type: {{pokemon.type}}</p>
      <p>Species: {{pokemon.species}}</p>
    </div>

    <a href="/" class="back-btn">Back</a>
  </section>
</div>
