<div class="monster-container">
  <header>
    <h1>{{monster.name}}</h1>
  </header>

  <section class="monster">
    <div class="monster-img">
      <img src="{{monster.img}}" alt="{{monster.name}} image">
    </div>

    <div class="monster-details">
      <p>Number: {{monster.number}}</p>
      <p>Type: {{monster.type}}</p>
      <p>Species: {{monster.species}}</p>
    </div>

    <a href="/" class="back-btn">Back</a>
  </section>
</div>
