<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>Projects:</h1>

{{#each projects as |project|}}
  <div class="project">
    <div class="project-name">
      <h2><a href="/projects/{{project.name}}">
         {{project.name}}
       </a></h2>
    </div>

    <div class="project-technologies">
      <h3>Technologies used:</h3>
      {{#each project.technologies as |technology|}}
        <div class="project-technology">
          {{technology}}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}
