<h1>Projects</h1>

{{#each projects as |project|}}
  <a href="{{ project.name }}/">
    <div><img src="{{ project.image }}"></div>
  </a>
  <a href="{{ project.name }}/">
    <div>{{ project.name }}</div>
  </a>
  <div>{{ project.desc }}</div>
{{/each}}
