
  <head>
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <meta charset="UTF-8">
    <title>Ian Halverson's Projects</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>

  <body class="container">
    <div class=" header-div col-xs-12">
      <img class="header-image" src="images/header.jpg">
      <a class="header" href=#>Ian Halverson's Projects</a>
    </div>

        <div class="projects">
          {{#each projects as |proj|}}
          <div class="big-div col-xs-12 col-md-6">
            <div class="project-div">
              <div class="project-names-div">
                <a class="project-names" href="/projects/{{proj.nameUrl}}">
                  {{proj.name}}
                </a>
              </div>
              <div class="project-techs-div">
                <div class="project-techs">
                  {{proj.techs}}
                </div>
              </div>
              <div class="project-links-div">
                <form action="{{proj.link}}">
                  <button class="btn-primary" type="submit" value="Go to GitHub">
                    GitHub
                  </button>
                </form>
              </div>
              <div class="project-images-div">
                <div class="project-images">
                  <!--Improve resolution of photos before releasing app-->
                  <img src="{{proj.imagePath}}"/>
                </div>
              </div>
            </div>
          </div>
          {{/each}}

        </div>
  </body>
