
  <head>
    <meta charset="UTF-8">
    <title>{{projects.5.name}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
  </head>

  <body class="container">
    <div class="sub-page-header-div col-xs-12">
      <div class="header-image">
        <img class="back-button" src="../images/Back.png">
      </div>
      <a class="subpage-header" href=#><span class="projects-path">Projects/</span>{{projects.5.name}}</a>
    </div>

    <div class="projects">
      <div class="big-div col-xs-12">
        <div class="project-div" id="subpage-project-div">
          <div class="project-names-div">
            <a class="project-names" href=#>
              {{projects.5.name}}
            </a>
          </div>
          <div class="project-techs-div">
            <div class="project-techs">
              {{projects.5.techs}}
            </div>
          </div>
          <div class="project-description-div">
            <div class="project-description">
              <p>{{projects.0.decription}}</p>
            </div>
          </div>
          <div class="project-links-div">
            <form action="{{projects.5.link}}">
              <button class="btn-primary" type="submit" value="Go to GitHub">
                GitHub
              </button>
            </form>
          </div>
          <div class="project-images-div">
            <div class="project-images">
              <!--Improve resolution of photos before releasing app-->
              <img src="{{projects.5.imagePath}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
