

<h1><a href="/projects/{{project.name}}">{{project.name}}</a></h1>
<a href="{{project.heroku}}"><img src ="../images/{{project.image}}" width=50% height: 475px></a>
<pre><h2>Technologies:{{project.technologies}}</h2></pre>
<pre><a href={{project.github}}>Github Link</a></pre>
<pre><a href={{project.heroku}}>Heroku Link</a></pre>