<html>
<head>
	<title>Project: {{project.name}}</title>
</head>
<body>
	<div>
		<h1>{{project.name}}</h1>

		<div>
			<p>{{project.description}}</p>
		</div>

		<div>
			Language: {{project.language}}
		</div>

		<div>
			<a href="{{project.github}}">Github Repository</a>
		</div>

		<div>
			<img src="{{project.image}}">
		</div>
	</div>
</body>
</html>