<h1>{{project}}</h1>

<a href="{{project.repo}}" target="_blank" alt="{{project.name}}" title="{{project.name}}"><img src="{{project.imageSplash}}"></a>
<h2>{{project.name}}</h2>
<ul>
  {{#each project.technologies as |technology|}}
  <li>{{technology}}</li>
  {{/each}} <!-- technology -->
</ul>
<p class="repo-link"><a href="{{project.repo}}" target="_blank" alt="{{project.name}}" title="{{project.name}}">repo</a></p>
