<main id="project">
  <div class="container">
    <div class="project-blurb row">
      <div class="col-xs-12 col-sm-6">
        <h1>{{ project.name }}</h1>
        <p class="project-item-header">{{ project.desc }}</p>
        <p class="spacer">{{ project.descLong }}</p>
      </div>
      <div class="col-xs-12 col-sm-offset-1 col-sm-5">
        <div class="project-item-header">Technologies</div>
        <p>{{ project.tech }}</p>
        <div class="project-item-header">See it Live</div>
        <a href="{{ project.url }}">
          <p>Deployed on {{ project.host }}</p>
        </a>
        <div class="project-item-header">GitHub Repo</div>
        <a href="{{ project.github }}">
          <p>Source</p>
        </a>
      </div>
    </div>

    {{> (lookup . 'partial') }}

  </div>
</main>
