<article class="project-show">

  <a href="{{project.repo}}" target="_blank" alt="{{project.name}}" title="{{project.name}}"><img src="{{project.imageSplash}}"></a>

  <section>
    <h1>{{project.name}}</h1>
    <p>{{project.name}} is an app that uses the following technologies:</p>
    <ul>
      {{#each project.technologies as |technology|}}
      <li>{{technology}}</li>
      {{/each}} <!-- technology -->
    </ul>
    <p class="repo-link"><a href="{{project.repo}}" target="_blank" alt="{{project.name}}" title="{{project.name}}">repo</a></p>
  </section>

</article>