<h1>{{ project.name }}</h1>
<div><img src="{{ project.image }}"></div>
<div>{{ project.desc }}</div>
<a href="{{ project.url }}">
  <div>View the app</div>
</a>
<a href="{{ project.github }}">
  <div>Github Repository</div>
</a>
