<!--
<h1>{{title}}</h1>
<h2>{{project.title}}</h2>
-->
<h2>{{project.name}}</h2>
<ul class="list-unstyled">
	<li>Created using: <strong>{{project.techused}}</strong></li>
	<li>GitHub: <a href="{{project.gitlink}}">{{project.gitlink}}</a></li>
	<li>Image: <a href="/images/{{project.imagelink}}">{{project.imagelink}}</a></li>
</ul>
