<h1>{{project.name}}</h1>
<div class="images">
    <div class="img">
      <img src="{{project.imgSrc}}" alt="{{project.name}} screenshot">
    </div>
</div>
<p>{{project.description}}</p>
<p>{{project.lang}}</p>

<a href="/">
  <button type="button">Back</button>
</a>
