<div class="project-name">
  <h1>Project: &nbsp&nbsp {{project.name}}</h1>
</div>
<br>
<br>
<div class="project-description">
  <h2>Project Description: &nbsp&nbsp {{project.description}}</h2>
</div>
<br>
<div class="project-technologies">
  <h2>Project Technologies: &nbsp&nbsp {{project.technologies}}</h2>
</div>
<br>
<div class="project-livelink">
  <h2>Project Live Link: &nbsp&nbsp <a href="{{project.live_link}}">{{project.live_link}}</a></h2>
</div>
<br>
<div class="project-githubURL">
  <h2>Project Github URL: &nbsp&nbsp <a href="{{project.Github_url}}">{{project.Github_url}}</a></h2>
</div>
<br>
<div class="project-image">
  <h2>Project Screen shot:</h2>
  <img src="{{project.image}}"/>
</div>
