<!DOCTYPE html>
<html>
  <head>
    <title>Steven Zarrella | {{project.projectName}}</title>
    <link rel='stylesheet' href='/stylesheets/project.css' />
  </head>
    {{{body}}}
    <section class="container">
      <div class="col">
        <h1>{{project.projectName}}</h1>
        <img class="project-page-image" src="{{project.imageLink}}"></img>
        <br><br>
        <p class="description-text">{{project.description}}</p>
        <a class="git-link" href="{{project.gitLink}}">Github repo</a>
      </div>
    </section>


