<head>
</head>

<body>
  <header>
    <h1>{{project.name}}</h1>
    <h2>By Nicholas Romeo</h2>
  </header>

  <img src="{{project.imgSource}}" alt="Project running">

  <section>
    <h3>Technology Used</h3>
    <p>{{project.techUsed}}</p>
    <h3>About this project</h3>
    <p>{{project.longDesc}}</p>
    <p>Check out the repo <a href="{{project.gitURL}}">here</a>!</p>
  </section>
</body>

<footer>
  <p>Back to <a href="/">homepage</p>
</footer>
