<main id="design-project" class="project">
  <div class="container-fluid">
    <div class="project-blurb row">
      <div class="col-xs-offset-1 col-xs-10">
        <h1>{{ project.name }}</h1>
        <p class="project-item-header">{{ project.client }}</p>
        <p class="spacer">{{ project.desc }}</p>
      </div>
    </div>

    <div class="project-details">

      {{#each project.gallery as |image|}}
        <section class="detail text-center">
          <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
              <a href="{{ image }}">
                <img src="{{ image }}">
              </a>
            </div>
          </div>
        </section>
      {{/each}}

      {{> (lookup . 'partial') }}

      <div class="row back-container detail">
        <a class="nav-link" href="/design">Back to Design</a>
      </div>
    </div>

  </div>
</main>
