<header>
  <h1>Projects</h1>
</header>

<main class='flex-row' id='projects-main'>

  {{#each projects as |project|}}

  <div class='flex-col project'>

    <div class='wrap flex-col'>
      <a href='./projects/{{project.name}}'><img src='{{project.image}}'></a>
    </div>
    <span><a href='./projects/{{project.name}}'>{{project.name}}</a></span>
    <span>Technologies used: {{project.technologies}}</span>
    <span><a href='{{project.gitHubLink}}'>{{project.gitHubLink}}</a></span>

  </div>
  {{/each}}

</main>
