<h2><a href="/projects/{{project.name}}">{{project.name}}</a></h2>
               <img src ="../../images/"+{{project.image}}></pre>
<pre>"Technologies: " + {{technologies}}</pre>
<pre><a href={{project.github}}>Github Link</a></pre>
<pre><a href={{project.heroku}}>Heroku Link</a></pre>
