<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>



<h3>Norse Gods</h3>

{{#each gods as |god|}}
  <div class="god">
    <div class="god-name">
      <a href="/gods/{{god.name}}">
         {{god.name}}
       </a>
    </div>

    <div class="god-domains">
      {{#each god.domains as |domain|}}
        <div class="god-domain">
          {{domain}}
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}

<h4>My Projects</h4>

{{#each project as |p|}}
  <h5>{{p.name}}</h5>
  <h5>Tech Used</h5>
  <div>
    <ul>
      {{#each p.tech as |tech|}}
        <li>{{tech}}</li>
      {{/each}}
    </ul>
  </div>
  <a src={{project.git}}>Check it out on Github!</a>
  <div>
    <img src={{project.img}}>
  </div>
{{/each}}

<p>Pretty cool right??</p>

<!---
The project's name
A list of the technologies used
A link to a GitHub repository
An image of the project running (either from the browser or command line)

project prototype
project.name ""
project.tech {}
project.git ""
project.img ""  //source path


-->
