<h4>My Projects</h4>

{{#each projects as |p|}}
  <h5><a href="/projects/{{p.name}}">{{p.name}}</a></h5>
  <h5>Tech Used</h5>
  <div>
    <ul>
      {{#each p.tech as |tech|}}
        <li>{{tech}}</li>
      {{/each}}
    </ul>
  </div>
  <a href={{p.git}}>Check it out on Github!</a>
  <div>
    <img src={{p.img}}>
  </div>
{{/each}}

<p>Pretty cool right??</p>

<!---
The project's name
A list of the technologies used
A link to a GitHub repository
An image of the project running (either from the browser or command line)

project prototype
project.name ""
project.tech {}
project.git ""
project.img ""  //source path
project.site ""


-->
